/.DS_Store
/.localized
/.vscode
/01. Ncell Main.ai
/471FB25D-635E-46BA-83F5-883C65D771D4.jpg
/Aayush Photos
/Aayush xdx
/Babita Karki
/Basic Photography Slideshow.pdf
/Bibek weds Rozee_FULL VIDEO.mp4
/Bips
/Dil Kyun Yeh Mera Shor Kare Full Song (HD) Kites  Hrithik Roshan, Bárbara Mori.mp3
/ENGAGEMENT.mp4
/Full Video.mp4
/HIghlights.mov
/Highlander.rar
/Je Chhau Timi - Swoopna Suman x Samir Shrestha ( Official MV).mp3
/Kritika
/Letter - Google Docs.pdf
/Prabina.jpg
/Processed
/Rotate Your Phone Animation 4k.mp4
/SGR02171.jpg
/SGR02172.jpg
/SGR02173.jpg
/SGR02174.jpg
/SGR02387.jpg
/SGR02399.jpg
/SGR02407.jpg
/SGR02469.jpg
/SGR02470.jpg
/SGR03192.jpg
/SGR03193.jpg
/SGR03195.jpg
/Selected
/Sequence 02.mp4
/Sequence 03.mp4
/Story.jpg
/Sujata Shakya
/Synchronous - Anischit  Official Lyrics Visualiser.mp3
/Text.png
/Tools
/Visual Studio Code.app
/Wedding Full Video Final.mov
/aa.jpg
/aayush
/antipasto.zip
/bbk.zip
/bip 1.jpg
/bips 10.jpg
/bips 11.jpg
/bips 12.jpg
/bips 13.jpg
/bips 2.jpg
/bips 3.jpg
/bips 4.jpg
/bips 5.jpg
/bips 6.jpg
/bips 7.jpg
/bips 8.jpg
/bips 9.jpg
/bips4 -1.jpg
/engagement
/ig 1.jpg
/ig 2.jpg
/ig 4.jpg
/ig 5.jpg
/ig.jpg
/ig3.jpg
/insta.tif
/insta1.tif
/lab.c
/prabina 2.jpg
/prabina 3.jpg
/prabina 4.jpg
/prabina insta.jpg
/sagar pg
/satish - Mantramugdha (Official Lyrical Video).mp3
/shreeyanti
/shreeyanti photos
/sush.mp4
/text 1.png